extends ./_partials/layout-main.jade

block content
  h1 Jade - node template engine
  #container.col
    if youAreUsingJade
      p Hou are amazing
    else
      p Get on it!
    p.
      Jade is a terse and simple
      templating language with a
      strong focus on performance
      and powerful features
